<service-provider-header></service-provider-header>
<div class="service-provider-main-page">
    <!--sidebar-->
    <div class="service-provider-leftSide">
        <sidebar></sidebar>
    </div>

    <!--right side seciton-->
    <div class="service-provider-rightSide">
        <!--breadcrumbs-->
        <div class="breadcrumbsSection">

            <ul>
                <li></li>

            </ul>

        </div>
        <div class="service-provider-page dashboard-container">
            <div class="dashboardContainer">
                <div class="dashboardStatisticsPart">
                    <div class="facility-dashboard">
                        <facility-dashboard></facility-dashboard>
                    </div>
                    <div class="payment-dashboard">
                        <payment-dashboard></payment-dashboard>
                    </div>
                    <div class="booking-dashboard">
                        <booking-dashboard></booking-dashboard>
                    </div>
                </div>
                <!--<div class="booking-history">
                    <booking-history-dashboard></booking-history-dashboard>
                </div>-->
            </div>
        </div>

    </div>
</div>
<service-provider-footer></service-provider-footer>